<style scoped>
#gallery {
  display: flex;
  flex-wrap: wrap;
}


.gallery-item {
  height: 150px;
  width: 150px;
  position: relative;
  z-index: 0;
  transition: transform ease 0.3s;
}
.gallery-item:hover {
  cursor: pointer;
  transform: scale(1.1);
  z-index: 1;
}
.item-thumbnail {}
.item-details {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.93)
}


.gallery-active_item {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.93);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.active_item-image {}
.active_item-caption {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 32px;
  max-width: 600px;
  text-transform: capitalize;
}
.active_item-close {
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 3;
  padding: 10px;
}


.gallery-loader {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.loader-button {
  padding: 15px 50px;
  font-size: 14px;
}
</style>

<template>
  <div id="gallery">
    <div class="gallery-item"
      v-for="item in this.itemsLoaded"
      @click="setItemActive(item)"
    >
      <img class="item-thumbnail" :src="item.thumbnailUrl">
    </div>
    <div class="gallery-active_item" v-if="itemIsActive">
      <div class="active_item-caption">{{ itemActive.title }}</div>
      <img class="active_item-image" :src="itemActive.url">
      <button type="button" class="active_item-close"
        @click="unsetItemActive()"
      >
        CLOSE
      </button>
    </div>
    <div class="gallery-loader">
      <button type="button" class="loader-button"
        @click="loadMore()"
      >
        MORE
      </button>
    </div>
  </div>
</template>

<script>
const API_URL = "https://jsonplaceholder.typicode.com/photos"
const itemStub = { url: "", title: "" }

export default {
  name: "gallery",

  created() {
    this.fetchItems().then((res) => {
      this.itemsAll = res.body
      this.itemsLoaded = this.sliceItems(this.itemsLoadedAmount)
    })
  },

  data() {
    return {
      itemsLoaded: [],
      itemsAll: [],
      itemsLoadedAmount: 25,
      itemIsActive: false,
      itemActive: itemStub
    }
  },

  methods: {
    fetchItems() {
      return this.$http.get(API_URL)
    },

    loadMore() {
      this.itemsLoadedAmount += 25
      this.itemsLoaded = this.sliceItems(this.itemsLoadedAmount)
    },

    sliceItems(index) {
      return this.itemsAll.slice(0, index)
    },

    setItemActive(item) {
      this.itemActive = item
      this.itemIsActive = true
    },

    unsetItemActive() {
      this.itemActive = itemStub
      this.itemIsActive = false
    }
  }

}
</script>
