<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

button {
  border-radius: 3px;
  border: 2px solid #2c3e50;
  color: #2c3e50;
  background-color: transparent;
}
button:hover {
  background-color: #2c3e50;
  color: #fff;
  cursor: pointer;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>

<template>
  <div id="app">
    <gallery></gallery>
  </div>
</template>

<script>
import Gallery from './components/Gallery'

export default {
  name: 'app',
  components: {
    Gallery
  }
}
</script>
